<main>
  <section class="kalib">
    <div>
      <img src="/assets/img/about_1.webp" alt="" />
      <div>
        <h3>Jack Kalib</h3>
        <p>
          Esteem spirit temper too say adieus who direct esteem. It esteems
          luckily or picture placing drawing. Apartments frequently or
          motionless on reasonable projecting expression enim ad minim veniam
          quis nostrud exercitation we have supported programmes to help
          alleviate human suffering through animal welfare when people might
          depend.
        </p>
        <img src="/assets/img/signature.webp" alt="" />
      </div>
    </div>
  </section>
  <setion class="music">
    <div class="see">
      <img src="/assets/img/video1.webp" alt="" />
      <div class="hover">
        <i
          ><svg
            width="132"
            height="132"
            viewBox="0 0 132 132"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="66" cy="66" r="66" fill="#18A0FB" />
            <path
              d="M90.5 62.9019C92.5 64.0566 92.5 66.9434 90.5 68.0981L55.25 88.4497C53.25 89.6044 50.75 88.161 50.75 85.8516V45.1484C50.75 42.839 53.25 41.3956 55.25 42.5503L90.5 62.9019Z"
              fill="white"
            />
          </svg>
          <span>New York Show-2018</span>
          <p>Shadows of My Dream</p>
        </i>
      </div>
    </div>
    
    <img src="/assets/img/video2.webp" alt="" />
    <img src="/assets/img/video3.webp" alt="" />
    <img src="/assets/img/video4.webp" alt="" />
  </setion>
  <section class="tracks">
    <h3>Latest Tracks</h3>
    <div>
      <div>
        <img src="/assets/img/music1.webp" alt="" />
      </div>
      <div>
        <h4>Frando Kally</h4>
        <p>10 November, 2019</p>
        <audio controls src="/assets/music/rington.webp">
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <button>Buy Albom</button>
      </div>
    </div>
    <div>
      <div>
        <img src="/assets/img/music2.webp" alt="" />
      </div>
      <div>
        <h4>Frando Kally</h4>
        <p>10 November, 2019</p>
        <audio controls src="/assets/music/rington.webp">
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <button>Buy Albom</button>
      </div>
    </div>
    <div>
      <div>
        <img src="/assets/img/music3.webp" alt="" />
      </div>
      <div>
        <h4>Frando Kally</h4>
        <p>10 November, 2019</p>
        <audio controls src="/assets/music/rington.webp">
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <button>Buy Albom</button>
      </div>
    </div>
    <div>
      <div>
        <img src="/assets/img/music4.webp" alt="" />
      </div>
      <div>
        <h4>Frando Kally</h4>
        <p>10 November, 2019</p>
        <audio controls src="/assets/music/rington.webp">
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <button>Buy Albom</button>
      </div>
    </div>
  </section>
</main>
