<header>
  <div class="nav">
    <div class="logo">
      <img src="/assets/img/logo.webp" alt="" />
      <a href="#"> WindTravels</a>
    </div>
    <div class="about">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Premium</a>
      <a href="#">Blogs</a>
    </div>
    <div class="language">
      <a href="#"
        ><select name="lang" id="">
          <option value="">EN</option>
          <option value="">RU</option>
        </select></a
      >
    </div>

    <div class="contact">
      <button>Book Now</button>
    </div>
  </div>
  <div class="beaches">
    <a href="#">Mountains</a>
    <a href="#">Plains</a>
    <a href="#">Beaches</a>
    <h2>Spend your vacation with our activites </h2>
  </div>
</header>
