li{
    list-style: none;
}
ul{
    display: flex;
    gap: 10px;    
    opacity:0.4; 
}
.modal{
   position: absolute;
    top: 0;
    left: 20%;
    display: flex;  
    
    
}
.strelka{
    width: 30px;
    
}