<main>
  <div class="create">
    <div class="left">
      <div class="munu">
        <a href="#">Hosting</a>
        <a href="#">Domain</a>
        <a href="#">SEO</a>
        <a href="#">Email</a>
      </div>
      <div class="card">
        <h2>Premium Web Hosting for Your Website</h2>
        <p>
          Blazing fast web hosting for individuals and <br />
          businesses of all sizes backed by 24x7x365 Support.
        </p>
      </div>
      <div class="button">
        <button>Create an Account</button>
        <button>Choose your plan</button>
      </div>
    </div>
    <div class="right">
      <img src="/assets/img/women.webp" alt="" />
      <img src="/assets/img/Elements1.webp" alt="" />
      <img src="/assets/img/Elements2.webp" alt="" />
      <img src="/assets/img/Elements3.webp" alt="" />
    </div>
  </div>

  <div class="why">
    <div class="first">
      <h2>True Cloud Web Hosting</h2>
      <p>
        True Cloud Web Hosting All of the hosting packages we offer are deployed
        instantly on our SSD powered cloud. We don’t use dedicated servers that
        operate on single pieces of hardware. Our entire infrastructure is built
        to be reliable, secure, and scalable.
      </p>
    </div>
    <div class="icons">
      <a href="#"><img src="/assets/img/panel.webp" alt="" /></a>
      <a href="#"><img src="/assets/img/360.webp" alt="" /></a>
      <a href="#"><img src="/assets/img/lite.webp" alt="" /></a>
      <a href="#"><img src="/assets/img/sot.webp" alt="" /></a>
      <a href="#"><img src="/assets/img/word.webp" alt="" /></a>
      <a href="#"><img src="/assets/img/cloud.webp" alt="" /></a>
    </div>
  </div>

  <div class="frendly">
    <div>
      <a href="#"><img src="/assets/img/clock.webp" alt="" /></a>
      <h3>99.9% Uptime</h3>
      <p>
        We Keep Your Web build Online 24x7x365. Downtime not only costs you lost
        visitors but also damages your reputation and search engine rankings.
      </p>
    </div>
    <div>
      <a href="#"><img src="/assets/img/blazing.webp" alt="" /></a>
      <h3>Blazing Fast Web Hosting</h3>
      <p>
        We Keep Your Web build Online 24x7x365. Downtime not only costs you lost
        visitors but also damages your reputation and search engine rankings.
      </p>
    </div>
    <div>
      <a href="#"><img src="/assets/img/free.webp" alt="" /></a>
      <h3>Free SSL Certificates</h3>
      <p>
        We Keep Your Web build Online 24x7x365. Downtime not only costs you lost
        visitors but also damages your reputation and search engine rankings.
      </p>
    </div>
    <div>
      <a href="#"><img src="/assets/img/frendly.webp" alt="" /></a>
      <h3>24x7 Friendly Support</h3>
      <p>
        We Keep Your Web build Online 24x7x365. Downtime not only costs you lost
        visitors but also damages your reputation and search engine rankings.
      </p>
    </div>
  </div>

  <div class="price">
    <h2>Ready to get started with Lemon Wares?</h2>
    <p>Choose the package that suits you</p>

    <div class="pricebutom">
      <div>
        <a href="#">Basic</a>
      </div>
      <div>
        <a href="#">Premium</a>
      </div>
    </div>
  </div>

  <div class="cardmain">
    <div class="cardfirst">
      <h2>Starter</h2>
      <p class="subtext">
        with all your customers via all conversation channels in one central
        dashboard.
      </p>
      <p><b>$2.80</b></p>
      <p>Per month</p>
      <button>Choose this Plan</button>
      <ul>
        <li>2GB SSD</li>
        <li>10GB Bandwidth</li>
        <li>15 Email Accounts</li>
        <li>Unlimited Database</li>
        <li>4 Subdomains</li>
        <li>1 Parked Domain</li>
        <li>2 Websites</li>
        <li>Free SSL</li>
        <li>Softaculous</li>
      </ul>
    </div>
    <div class="cardfirst">
      <h2>Standard</h2>
      <p class="subtext">
        with all your customers via all conversation channels in one central
        dashboard.
      </p>
      <p><b>$4.20</b></p>
      <p>Per month</p>
      <button>Choose this Plan</button>
      <ul>
        <li>2GB SSD</li>
        <li>10GB Bandwidth</li>
        <li>15 Email Accounts</li>
        <li>Unlimited Database</li>
        <li>4 Subdomains</li>
        <li>1 Parked Domain</li>
        <li>2 Websites</li>
        <li>Free SSL</li>
        <li>Softaculous</li>
      </ul>
    </div>
    <div class="cardfirst">
      <h2>Suprem</h2>
      <p class="subtext">
        with all your customers via all conversation channels in one central
        dashboard.
      </p>
      <p><b>$7.00</b></p>
      <p>Per month</p>
      <button>Choose this Plan</button>
      <ul>
        <li>2GB SSD</li>
        <li>10GB Bandwidth</li>
        <li>15 Email Accounts</li>
        <li>Unlimited Database</li>
        <li>4 Subdomains</li>
        <li>1 Parked Domain</li>
        <li>2 Websites</li>
        <li>Free SSL</li>
        <li>Softaculous</li>
      </ul>
    </div>
  </div>
  <div class="review">
    <div class="quates">
      <img src="/assets/img/quates.webp" alt="" />
      <h2>Real Stories from Real Customers</h2>
      <p>Get inspired by these stories.</p>
    </div>

    <div class="cytata1">
      <img src="assets/img/crypto.webp" alt="" />
      <blockquote>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna,
          porttitor rhoncus dolor purus non enim praesent elem
        </p>
        <cite>Floyd Miles</cite>
        <p>Vice President, CLI</p>
      </blockquote>
    </div>
    <div class="cytata2">
      <img src="assets/img/jpnl.webp" alt="" />
      <blockquote>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna,
          porttitor rhoncus dolor purus non enim praesent elem
        </p>
        <cite>Jane Cooper</cite>
        <p>CEO, JPNL</p>
      </blockquote>
    </div>
    <div class="cytata3">
      <img src="assets/img/leeve.webp" alt="" />
      <blockquote>
        <p>LemonWares saved our time in Hosting my company page.</p>
        <cite>Kristin Watson</cite>
        <p>Co-Founder, LeeveOn Branding</p>
      </blockquote>
    </div>
  </div>
  <div class="serve">
    <div>
      <h2>
        We serve over 100 <br />
        Nigerian Websites
      </h2>
      <p>
        Connect LemonWares with your favourite tools that <br />
        you use daily and keep things on track.
      </p>
    </div>
    <div class="logo">
      <img src="assets/img/jery.webp" alt="" />
      <img src="assets/img/koran.webp" alt="" />
      <img src="assets/img/nadine.webp" alt="" />
      <img src="assets/img/on.webp" alt="" />
      <img src="assets/img/jrango.webp" alt="" />
      <img src="assets/img/invest.webp" alt="" />
    </div>
  </div>
  <div class="last">
    <h2>We're here to make your website awesome.</h2>
    <button> <img src="assets/img/wup.webp" alt="" /> Get  in touch with us</button>
  </div>
</main>
